<div>
  <nav class="navbar navbar-expand navbar-light bg-primary">
    <a href="#" class="navbar-brand">MyTeach Assistant</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <button routerLink="tutorials" class="btn btn-primary">Tutoriels</button>
      </li>
      <li class="nav-item">
        <button routerLink="add" class="btn btn-primary">Ajouter</button>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>